body {
    background-image: url("../img/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    max-height: 100vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.color-white {
    color: white;
}

a {
    text-decoration: none;
}

/* ---------------------------HEADER------------------------- */
header {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 0 79px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;

}

header div {
    flex-grow: 1;
}


h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin: 18px 0;

}

h1 a:hover {
    color: #236c47;
    transition: color 300ms ease-in-out;


}

h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}



.mini-line {
    display: block;
    width: 1px;
    height: 19px;
    margin: 0 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    flex-grow: 0;
}

.header-icons {
    margin: 0 0 0 25px;
}

#span a {
    color: white;
}

#span a:hover {
    color: #236c47;
    transition: color 300ms ease-in-out;

}

header a:hover svg {
    fill: #01813F;
    transition: fill 300ms ease-in-out;
}


/* ----------------------------MAIN-------------------------------- */
.wrapper {
    max-width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    margin-top: 54px;
    position: relative;
}

.wrapper-top h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left: 61px;
    top: 28px;

    margin: 0;
}

.wrapper::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}

.wrapper-top a {
    color: #3CB878;
    left: 346px;
    top: 35px;
    position: absolute;
    margin: 0;
}

.wrapper-top a:hover {
    text-decoration: underline;
    color: #01813F;
    transition: color 300ms ease-in-out;

}

.btn-social-network.btn-sn {
    margin-top: 60px;
}

.btn-sn {
    padding: 17px 22px 17px 67px;
    background-color: #305DB8;
    border: none;
    width: 160px;
    height: 48px;
    position: absolute;
    border-radius: 5px;
    top: 60px;

}

.btn-social-network {
    margin-left: 60px;
    margin-right: 60px;


}

.google {
    background-color: #DF4A32;
    position: absolute;
    right: 60px;
}

.btn-sn img {
    position: absolute;
    left: 16px;
    top: 12px;

}

.btn-sn .google-top {
    position: absolute;
    left: 12px;
    top: 15px;
}

.btn-sn:hover {
    background-color: #022263;
    transition: background-color 300ms ease-in-out;


}

.google:hover {
    background-color: #AB1F09;
    transition: background-color 300ms ease-in-out;


}


.btn-social-netwok a {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.dif-word {
    display: block;
    width: 1px;
    height: 28px;
    border-right: 1px solid #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    left: 48px;
    top: 10px;
}

.or-line {
    position: absolute;
    top: 129px;
    left: 215px;
    text-align: center;
}

.or-line p {
    color: #848484;
}

.line-p::after {
    content: "";
    width: 152px;
    height: 1px;
    top: 25px;
    left: 20px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
}

.line-p::before {
    content: "";
    width: 152px;
    height: 1px;
    top: 25px;
    right: 20px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
}

/* -----------------FORM------------------ */
.form {
    position: absolute;
    top: 176px;
    left: 61px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;

}

.form input {
    padding: 15px 120px 15px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

}

.form input::placeholder {
    color: #BEBEBE;
}

.form input:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: box-shadow 200ms ease-in-out;
}

.form button {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: white;
    border: none;
    padding: 16px 110px;
    margin-top: 20px;

}

.form button:hover {
    background-color: #01813F;
    transition: background-color 300ms ease-in-out;


}

.underline {
    color: #3CB878;

}

.form.agreement-f {
    justify-content: flex-start;
}

.underline:hover {
    color: #01813F;
    text-decoration: underline;
}

.agreementTerms {
    margin-right: 60px;
}